speechbrain==1.0.2
torchmetrics
numpy==1.26.4
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
librosa
ipykernel
torchvision
gdown
g2p-en
git+https://github.com/AndreevP/wvmos

black
isort
pre-commit
